<!-- Main JavaScript -->
{{ $main := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script src="{{ $main.RelPermalink }}" defer></script>

<!-- Conditional JavaScript -->
{{ if .Params.includePodcastPlayer }}
<!-- Podcast Player JavaScript -->
{{ $podcastPlayer := resources.Get "js/podcastPlayer.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script src="{{ $podcastPlayer.RelPermalink }}"></script>
{{ end }}

<script>
  // Register Service Worker
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("{{ .Site.BaseURL }}sw.js")
        .then((registration) => {
          console.log(
            "ServiceWorker registration successful with scope: ",
            registration.scope
          );
        })
        .catch((err) => {
          console.log("ServiceWorker registration failed: ", err);
        });
    });
  }
</script>